[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ecostatscale"]
	path = ecostatscale
	url = https://github.com/adamtclark/ecostatscale
[submodule "gauseR"]
	path = gauseR
	url = https://github.com/adamtclark/gauser
[submodule "multispatialCCM"]
	path = multispatialCCM
	url = https://github.com/adamtclark/multispatialccm
[submodule "partitionBEFsp"]
	path = partitionBEFsp
	url = https://github.com/cran/partitionBEFsp
[submodule "pttstability"]
	path = pttstability
	url = https://github.com/cran/pttstability
